.Blackbox{
    position: absolute;
    color: black;
    width: 100%;
    height: 233px;
    top: 12%;
}

.contact{
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
}
