.useredit{
    font-family: 'Montserrat', sans-serif !important;
}

.text1{
    color:black;

}

.countryedituser{
    margin-top: -4% !important;
}

.avatarimage{
    margin-top:10% !important;
    margin-bottom:10% !important;
}

.btn-editar{
    margin-top: 1% !important;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
    background-color: #25C088 !important;
    font-size: 1.7vh !important;
    border-radius: 12px !important;
    text-transform: capitalize !important;
    width: 40% !important;
    font-weight: bold;
}