<nav>
    <div class="nav-wrapper">
        <a href="/users" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/users">Home</a></li>
            <li><a href="/users/myaccount">My Account</a></li>
            <li><a href="/casting">Castings</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/users">Home</a></li>
    <li><a href="/users/myaccount">My Account</a></li>
    <li><a href="/casting">Castings</a></li>
</ul>